<form method="post" action="{{ path('app_structure_delete', {'id': structure.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce partenaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ structure.id) }}">
    <button class="btn btn-outline-danger mt-2">Supprimer</button>
</form>
