{% extends 'base.html.twig' %}

{% block title %}Nouveau partenaire{% endblock %}

{% block body %}
{% include ('_navbar.html.twig') %}
<div class="mainContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mt-3">Créer un nouveau partenaire</h1>
            </div>
        </div>

        <div class="m-5">
            <div class="d-flex justify-content-center">
                <a href="{{ path('app_password_generator') }}" target="_blank" class="btn btn-outline-primary">Générateur de mot de passe</a>
            </div>
            {{ include('partner/_form.html.twig') }}

            <a href="{{ path('app_partner_index') }}" class="btn btn-outline-success mt-3">Retour à la liste</a>
        </div>
    </div>
    {% include('_footer.html.twig') %}
</div>
{% endblock %}
