<form method="post" action="{{ path('app_contact_form_delete', {'id': contact_form.id}) }}" onsubmit="return confirm('Etes-vous certains de vouloir supprimer ce message?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_form.id) }}">
    <button class="btn btn-outline-danger mt-2"><i class="fa-solid fa-trash"></i></button>
</form>
