<footer class="footerPage text-center d-flex justify-content-center gap-5">
    <a href="{{ path('app_legales') }}" class="footerPage__link">Mentions légales</a>
    <a href=mailto:"bruno.dev@gmail.com" class="footerPage__link" title="Contacter le développeur"><i class="fa-solid fa-envelope"></i></a>
</footer>